build
*~
.kdev4
settings.cpp
settings.h
CMakeCache.txt
CMakeFiles/
CMakeLists.txt~
CMakeTmp/
CTestTestfile.cmake
Makefile
akonadi_git_resource_automoc.cpp
akonadi_git_resource_automoc.cpp.files
gitresource.kcfg~
gitresource.moc
cmake_install.cmake
cmake_uninstall.cmake
org.kde.Akonadi.Charm.Settings.xml
moc_*
install_manifest.txt
ui_configdialog.h
settingsadaptor.cpp
settingsadaptor.h
org.kde.Akonadi.Git.Settings.xml
*.moc
lib/
*automoc.cpp*