[Desktop Entry]
Name=Git Resource
Type=AkonadiResource
Exec=akonadi_git_resource
Icon=git

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_git_resource
X-Akonadi-LaunchMethod=AgentLauncher
