[Desktop Entry]
Name=Git Resource
Name[cs]=Zdroj Git
Name[de]=Git-Ressource
Name[es]=Recursos de Git
Name[et]=Giti ressurss
Name[fi]=Git-resurssit
Name[fr]=Ressource Git
Name[ga]=Acmhainn Git
Name[gl]=Recurso de Git
Name[hu]=Git erőforrás
Name[it]=Risorsa Git
Name[km]=ធនធាន Git
Name[mr]=जिट संसाधन
Name[nl]=Git-hulpbron
Name[pl]=Zasób git
Name[pt]=Recurso do Git
Name[pt_BR]=Recurso do Git
Name[sk]=Zdroj Git
Name[sv]=Git-resurs
Name[tr]=Git Kaynağı
Name[uk]=Ресурс git
Name[x-test]=xxGit Resourcexx
Type=AkonadiResource
Exec=akonadi_git_resource
Icon=git

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_git_resource
X-Akonadi-LaunchMethod=AgentLauncher
