[Desktop Entry]
Name=Git Resource
Name[pt]=Recurso do Git
Name[pt_BR]=Recurso do Git
Name[uk]=Ресурс git
Name[x-test]=xxGit Resourcexx
Type=AkonadiResource
Exec=akonadi_git_resource
Icon=git

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_git_resource
X-Akonadi-LaunchMethod=AgentLauncher
